body{
    overflow-x: hidden;

}
html{
    scroll-behavior: smooth;
}

*{
 padding: 0px;
 margin: 0px;
 font-family: 'Rubik', sans-serif;
}
h3{
    font-weight: 600;
    font-size: 30px;
}

.bm{
    display: none;
}
@media (max-width: 640px){
   .sm{
    display: none;
   }
   .bm{
    display: flex;
   }
 
}